@charset "UTF-8";

body {
    background-image: linear-gradient( to right,#FBDFCF,#FAD4B5  );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(134, 84, 19, 0.699);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    font-size: 32px;
    color: coral;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 1px 1px 2px coral;
    }

h2 {
    font-size: 22px;
    color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-shadow: 1px 1px 1px blue;
    }

p   {
    font-size: 16px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    }
    